.cardwhite {
  height: 250px;
  width: 230px;
  margin: 20px;
  background-color: #f60c87;
  text-align: center;
  border-radius: 22px;
  color: #ffffff;
}
.cardwhite i {
  margin-top: 30px;
  background-color: #ee268f;
  border-radius: 50%;
  font-size: 30px;
  padding: 20px;
}
.cardwhite__text {
  padding: 20px;
  font-size: 22px;
}
.cardwhite__text h3 {
  font-family: "Times New Roman", Times, serif;
  line-height: 0%;
}
.cardwhite__text p {
  color: #797d7f;
  font-size: large;
}
