* {
  padding: 0;
  margin: 0;
}
.topmenu {
  display: flex;
  height: 30px;
  border: 2px solid;
  align-items: center;
}
.topmenu img {
  height: 22px;
  color: #12121f;
}
.topmenu p {
  margin-left: 160px;
  font-size: 25px;
  font-weight: bold;
}
.topmenu i {
  margin-left: 100px;
  font-size: 20;
}
#ellipse {
  margin-left: 55px;
}
