body {
  margin: 0;

  background-color: white;
}
.header {
  text-align: center;
  background-image: linear-gradient(#f761a1, #8c1bab);
  height: 150px;
}
.header p {
  color: wheat;
  padding-top: 100px;
  font-size: large;
  font-weight: 600;
}
.nextpage {
  border-top-left-radius: 20px;
  /* background-color: blue; */
  padding: 20px;
  margin: 20px;
  overflow: hidden;
}
.nextpage i {
  color: darkblue;
}
.Month {
  margin-top: 30px;
  color: rgb(243, 155, 48);
}
.Month span {
  /* padding-left: 10px; */
  padding-right: 25px;
}
.calender {
  margin-top: 20px;
  color: rgb(243, 155, 48);
}
.calender span {
  padding-right: 33px;
}
.orange {
  background-color: rgb(209, 217, 191);
  border-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: black;
  margin-right: 20px;
}
.date {
  background: seashell;
  padding: 20px;
  height: 400px;
}
