* {
  box-sizing: border-box;
}
.texteditingpop {
  /* border: 2px solid; */
  height: 430px;
  width: 330px;
  background: #ffffff;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
.texteditingpop i {
  margin-left: 25;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 10px;
  font-size: 20px;
}
.texteditingpop span {
  font-size: 20px;
  font-weight: bold;
}
.texteditingpop a {
  float: right;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;

  text-decoration: none;
  color: #f60c87;
}
