body {
  background-color: whitesmoke;
}
.ukkit {
  padding-inline: 50px;
}
.row {
  display: flex;
  padding: 30px;
  column-gap: 30px;
}
.column1 {
  height: 350px;
  width: 200px;
  background-color: gainsboro;
  text-align: center;
}
button {
  border-radius: 50px;
  display: block;
  margin-top: 10px;
  padding-inline: 20px;
  margin-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.button1 {
  background-color: darkorange;
  border-color: darkorange;
}
.button2 {
  color: darkorange;
  border-color: darkorange;
}
.button3 {
  background-color: blue;
  border-color: blue;
}
.button4 {
  color: blue;
  border-color: blue;
}
.column3 {
  height: 1000%;
  width: 100%;
  background-color: white;
  background-image: url(./computer.jpg);
}
nav ul {
  list-style-type: none;
}
nav {
  overflow: hidden;
  background-color: black;
  /* height: 100px; */
}
li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

nav ul li {
  display: inline;
}
.headline {
  text-align: center;
}
.btn {
  display: inline;
}
#btn1 {
  background-color: yellow;
  border-color: yellow;
}
#btn2 {
  color: darkgoldenrod;
  border-color: darkgoldenrod;
}
img {
  background-color: darkgoldenrod;
  margin: 10px;
}
.img1 {
  width: 70px;
  height: 70px;
  padding: 70px;
}
.towimg {
  display: inline-block;
}
.img2 {
  height: 50px;
  width: 150px;
  padding: 70px;
}
/* .img2 {
  height: 50px;
  width: 150px;
  padding: 70px;
}
.img3 {
  height: 50px;
  width: 150px;
  padding: 70px;
} */
.img4 {
  width: 50px;
  height: 50px;
  padding: 70px;
}
.section1 {
  margin-top: 100px;
}
.section2 {
  background-color: black;
  color: white;

  padding-inline: 30px;
  padding: 100px;
}
.section3 {
  background-color: black;
}
.section3 i {
  color: yellow;
  margin: 50px;
  margin-left: 70px;
}
.section3 i span {
  color: white;
  padding: 25px;
}
.section4 {
  background-color: black;
  padding: 150px;
}
.section4 img {
  width: 350px;
  height: 350;
  padding-left: 180px;
  background-color: black;
}
.section5 {
  background-color: black;
}
.block {
  display: inline-block;
  color: white;
  padding: 90px;
}
