* {
  padding: 0%;
  margin: 0%;
}
.sentmessage {
  background-color: #ffde25;
  height: 200px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 21px;
}
.sentmessage span {
  float: right;
  font-size: 25px;
  padding-right: 50px;
  padding-top: 35px;
}
.sentmessage h1 {
  font-size: 25px;
  line-height: 1.22;
  padding-top: 35px;
  padding-left: 30px;
}

.sentmessage__pyra {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 23px;
  line-height: 1.33;
  margin-right: 30px;
}
