* {
  margin: 0;
  padding: 0;
}
.header {
  margin-top: 50px;
  font-size: large;
  font-family: "Montserrat";
}
.input h2 {
  margin-top: 300px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.input input {
  margin-left: 30px;
  border: 0;
  outline: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #797d7f;
}
.input p {
  margin-left: 30px;
  color: #797d7f;
}
.btn {
  text-align: center;
}
.btn button {
  width: 400px;
  height: 60px;
  background-color: #f60c87;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 150px;
  color: #ffffff;
}
.btn img {
  margin-top: 20px;
  width: 620px;
}
