.workview {
  /* border: 2px solid; */
  border-radius: 16px;
  background: #ffffff;
  /* height: 100px; */
  box-shadow: 4px 4px 14px rgb(0, 0, 0, 0.08);
  border-radius: 16px;
}
.workview img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin: 40px;
}
.workview__work {
  float: right;
  margin-top: 35;
  margin-right: 70px;
  font-size: 22px;
}
