* {
  padding: 0;
  margin: 0;
}
.dayweek {
  text-transform: uppercase;
  border: 2px solid;
}
.dayweek span {
  padding-left: 11px;
  padding-right: 20px;
  color: #797d7f;
}
.dayweek__date {
  margin-top: 50px;
  margin-bottom: 30px;
}
.dayweek__date span {
  color: #12121f;
  font-size: 25px;
  font-weight: bold;
  padding-left: 11px;
  padding-right: 36px;
}
#pinkspan {
  padding: 30px;
  background-color: #f60c87;
  border-radius: 16px;
}
#seashellspan {
  padding: 30px;
  background-color: seashell;
  border-radius: 16px;
}
